li{
    list-style: none;

}


#nav-bar
{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    background-color:rgb(244, 238, 223);

}
#links
{
    text-align: center;
    margin-top: 28px;
}
#main
{
    font-size: 60px;
    color: white;
}