
body
{
    background-color: rgb(141, 210, 248);
}


h1{
    margin-top: 40px;
 
}
#head
{
    font-size: 100px;
}

.plink
{
    width: 220px;
    height: 40px;
    background-color: rgb(80, 82, 242);
    border-radius: 20px;
   /* border: 2px solid black; */
    margin-right: 20px;
    box-shadow: 1px 6px 15px rgb(38, 31, 12);
 padding-top: 10px;

}
#plinks
{
  margin-top: 50px;
    margin-left: 470px;
    color: aliceblue;
    display: flex;
 

}

.pprofile
{
  
    border: 2px solid black;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(242, 193, 129);
    width: 200px;
    margin: 50px auto ;
}
#pcont
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 80px;


}
